/learn/to_list.cmi
/learn/to_list.cmo
/presentation/actual.pdf
/presentation/actual.tex
/presentation/92035042_questions.pdf
/presentation/92035042_questions.tex
/learn/test.txt
/src/rules.pyc
/src/grammer.pyc
/doc/Structure.dia.autosave
/src/options.pyc
/src/operators.pyc
/doc/Structure.dia~
/src/papers/fix.pyc
/src/papers/to_tag.pyc
/doc/Infrastructure.dia~
/src/papers/tmp_papers.xml
/doc/Diagram1.dia
/src/paper_grammer.pyc
/src/paper_rules.pyc
/src/papers/#fix_offerings.py#
/src/papers/.#fix_offerings.py
/src/grammar.pyc
/src/.anjuta/default.profile
/src/.anjuta/session/anjuta.session
/src/.anjuta/session/dock-layout.xml
/src/.anjuta_sym_db.db
/src/.ropeproject/config.py
/src/Degree Planner.anjuta
/src/TODO.tasks
/src/cairodemo.py
/src/main.pyc
/src/utility.pyc
/report/missfont.log
/report/report.aux
/report/report.log
/report/report.out
/report/report.tex
/report/report.toc
/report/DegreePlanner.dia~
/report/DegreePlanner.png
/report/report.pdf
