/learn/to_list.cmi
/learn/to_list.cmo
/presentation/actual.pdf
/presentation/actual.tex
/presentation/92035042_questions.pdf
/presentation/92035042_questions.tex
/learn/test.txt
/src/rules.pyc
/src/grammer.pyc
/doc/Structure.dia.autosave
/src/options.pyc
/src/operators.pyc
/doc/Structure.dia~
/src/papers/fix.pyc
/src/papers/to_tag.pyc
/doc/Infrastructure.dia~
/src/papers/tmp_papers.xml
